/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* yellow:FFF270, blue: 26547C, red:EF476F, green:06D6A0, grey:FCFCFC */

body {
  background-color: #FFC94C;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header nav h1 {
  color: #083D77;
  text-align: center;
  /*display: inline-block;*/
  /*margin-right: 40px;*/
}

header nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  width: 380px;
  /*display: inline-block;*/
}

header nav ul li {
  display: inline-block;
  margin: 10px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 2em;
  color: #26547C;
}
