// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  text-align: center;
  font-size: 28px;
}

.edit {
  text-align: center;
  margin-bottom: 30px;

  a {
    font-size: 18px;
    color: #083D77;
    text-decoration: none;
  }
}

.posts {
  width: 60%;
  margin: 0 auto;

  p {
    font-size: 22px;
  }

  .longAgo {
    text-align: right;

    a {
      color: #808080;
      text-decoration: none;
    }
  }

  .deleter {
    color: #FF0000;
    text-decoration: none;
    display: block;
    text-align: right;
  }

  hr {
    border: 0px;
    border-bottom: 1px solid #083D77;
  }
}

.fullow {
  width: 230px;
  margin: 0 auto 40px auto;

  .fallow {
    display: inline-block;

    p {
      text-align: center;
    }

    a {
      text-align: center;
      color: #808080;
      text-decoration: none;
      font-size: 20px;
    }
  }

  .fallow.first {
    margin-right: 29px;
  }
}

.diver {
  border: 0px;
  border-bottom: 1px solid #083D77;
}

.peepsCorral {
  width: 60%;
  margin: 0 auto;

  h3 {
    text-align: center;
    font-size: 25px;
  }

  .peeps {
    border: 2px solid #808080;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;

    a {
      color: #083D77;
      text-decoration: none;
      font-size: 25px;
    }
  }
}
