// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  text-align: center;
  font-size: 28px;
}

.edit {
  text-align: center;
  margin-bottom: 30px;

  a {
    font-size: 18px;
  }
}

.posts {
  width: 60%;
  margin: 0 auto;

  p {
    font-size: 22px;
  }

  .longAgo {
    text-align: right;

    a {
      color: #808080;
      text-decoration: none;
    }
  }

  hr {
    border: 0px;
    border-bottom: 1px solid #083D77;
  }
}
